In [ ]:
import pandas as pd

df = pd.read_csv("Squirrels.csv")

In [ ]:
fur_color_counts = df['Primary Fur Color'].value_counts()

In [ ]:
fur_color_counts= pd.DataFrame(df['Primary Fur Color'].value_counts())
fur_color_counts

          Primary Fur Color
Gray                   2473
Cinnamon                392
Black                   103

In [ ]:
import random

numbers = [random.randint(1,10) for _ in range(10)]
even_numbers = [number for number in numbers if number %2 == 0]

In [ ]:
even_numbers

[6, 4, 8, 8]

In [ ]:
STRING = "Some string that contains some words which length will be analyzed"
dictionary = {string: len(string) for string in STRING.split(" ")}
dictionary

{'Some': 4,
 'analyzed': 8,
 'be': 2,
 'contains': 8,
 'length': 6,
 'some': 4,
 'string': 6,
 'that': 4,
 'which': 5,
 'will': 4,
 'words': 5}

In [ ]:
temperatures = {
    "Monday": 18,
    "Tuesday": 28,
    "Wednesday": 6,
    "Thursday": 3,
    "Friday": 15,
    "Saturday": 58,
    "Sunday": 2
} 


fahrenheit_temps = {day: temp*1.8 + 32 for day, temp in temperatures.items()}
fahrenheit_temps

{'Friday': 59.0,
 'Monday': 64.4,
 'Saturday': 136.4,
 'Sunday': 35.6,
 'Thursday': 37.4,
 'Tuesday': 82.4,
 'Wednesday': 42.8}

In [ ]:
a_dict = sorted(fahrenheit_temps.items(), key= lambda item: item[1], reverse=True)
a_dict

TypeError: ignored