In [ ]:
#with open("weather_data.csv") as f:
# data = f.readlines()

#data

['day,temp,condition\n',
 'Monday,12,Sunny\n',
 'Tuesday,14,Rain\n',
 'Wednesday,15,Rain\n',
 'Thursday,14,Cloudy\n',
 'Friday,21,Sunny\n',
 'Saturday,22,Sunny\n',
 'Sunday,24,Sunny']

In [ ]:
import csv

In [ ]:

with open("weather_data.csv") as data_file:
  data = csv.reader(data_file)
  data_list = list(data)
  for row in data:
    print(row)


temperatures = []
for row in data_list[1::]:
  temperatures.append(row[1])


print(temperatures)

['12', '14', '15', '14', '21', '22', '24']

In [ ]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [ ]:
dictionary = df.to_dict()
dictionary

{'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'},
 'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}}

In [ ]:
temp_list = df["temp"].to_list()
temp_list

[12, 14, 15, 14, 21, 22, 24]

In [ ]:
df["temp"].mean()

17.428571428571427

In [ ]:
df["temp"].max()

24

In [ ]:
df[df["temp"] == df["temp"].max()]

      day  temp condition
6  Sunday    24     Sunny

In [ ]:
df["tempF"]= df["temp"] * 1.8 + 32

In [ ]:
df.rename(columns = {'temp':'tempC'}, inplace = True)

In [ ]:
df

         day  tempC condition  tempF
0     Monday     12     Sunny   53.6
1    Tuesday     14      Rain   57.2
2  Wednesday     15      Rain   59.0
3   Thursday     14    Cloudy   57.2
4     Friday     21     Sunny   69.8
5   Saturday     22     Sunny   71.6
6     Sunday     24     Sunny   75.2

In [ ]:
df.to_csv("new_weather_data.csv")